$body-bg: #868686;
$primary: #2096d1;
$primary-muted: #1c85b9;
$secondary: #FF3697;
$danger: #EB5757;
$success: #27AE60;
$warning: #FF7F50;
$info: #00C9BD;
$dark: #313130;
$muted: rgba(88, 88, 88, 0.9);