@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

.post-info {
  color: $muted;
}

.post-title {
  color: white!important;
}

.post-desc {
  color: black!important;
}

.a:hover, a:link, a:visited, a:active {
  text-decoration: none;
}

section {
  height: 100%;
  width: 100%;
}

.bg-pm {
  background-color: $primary-muted;
}

::-webkit-input-placeholder {
    color: black;
    opacity: 0.65 !important; /* for older chrome versions. may no longer apply. */
}

.comment-input {
  border-width: 0px;
  border: none;
  box-shadow: none;
}

input[type="text"] {
  outline: none;
}

.icon {
  position: relative;
  top: 15px;
  left: 5px;
}

.icon:hover {
  transform: scaleY(1.5);
}

.border-muted {
  border-color: $primary-muted!important;
}

.comment {
  vertical-align: middle;
  line-height: normal;
}

// *{
//   border: 1px solid red;
// }

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
